/* Default */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#16a085;
    --red: #c23333;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
    --orange: #FA6900;
}

canvas {
  display: block;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
   
   
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* Navbar */

/* end of navbar */
/* body{
  
} */

section{
    padding:2rem 9%;
    background-color: rgb(29, 28, 28);
  
}
.hh{
    margin-top: 20vh;
    margin-left: 40vw;
    font-size: 27px;
}
/* End of Default */
/* Navbar */

/* .header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
} */
/* END OF NAVBAR */

/* body */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin: 1em auto; 
    background:#FFF; 
    padding:30px;
    border-radius:5vh;
    height: 100%;
    margin-top: 10vh;
    width: 100%;
  }
  .productcont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 1em;
  
  }
  .product {
    padding:1em; 
    border:1px solid #E0E4CC; 
    margin-right:1em; 
    border-radius:5px;
    width: 20vw;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  }
  /* .btn{
    
  } */
  .dig{
    height: 40vh;
  }
  .cart-container {
    border:1px solid #E0E4CC;
    border-radius:5000rem;
    margin-top:1em;
    padding:133em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #fff;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
  }
  button, input[type="submit"] { 
      border:1px solid var(--red); 
      color:#fff; 
      background:  var(--red); 
      padding:0.6em 1em;
      font-size:1em; 
      line-height:1; 
      border-radius: 1.2em;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
      background: #A7DBD8;
      border-color:#69D2E7;
      color:#000;
      cursor: pointer;
  }
  table {
    margin-bottom:1em;
    border-collapse:collapse;
  }
  table td, table th {
    text-align:left;
    padding:0.25em 1em;
    border-bottom:1px solid #E0E4CC;
  }
  #carttotals {
    margin-right:0;
    margin-left:auto;
  }
  .cart-buttons {
    width:auto;
    margin-right:0;
    margin-left:auto;
    display:flex;
    justify-content:flex-end;
    padding:1em 0;
  }
  #emptycart {
    margin-right:1em;
  }
  table td:nth-last-child(1) {
    text-align:right;
  }
  .message {
    border-width: 1px 0px;
    border-style:solid;
    border-color:#A7DBD8;
    color:#679996;
    padding:0.5em 0;
    margin:1em 0;
  }
  .close-modal{
      position: absolute;
      top: 1.2rem;
      right: 2rem;
      font-size: 2rem;
      color: #333;
      cursor: pointer;
      border: none;
      background: none;
  }
  .blur{
      overflow:hidden;
      -webkit-filter: blur(10px);
      -moz-filter: blur(6px);
      -o-filter: blur(15px);
      -ms-filter: blur(15px);
      filter: blur(15px);
      -webkit-transform: scale(1, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
  }
/* end of body */

/* FOOTER */

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
 
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--red);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:var(--red);
    
}
.cc{
    height: 5vh;
}









/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    
  @media all and (max-width:833px){
    .productcont{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 8vh;
    }
    .product{
        width: 23vw;
    }

}
@media all and (max-width:640px){
    .productcont{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-left: 8vh;
    }
    .product{
        width: 30vw;
    }
    .dig{
        margin-top: 15vh;
    }

}
@media all and (max-width:522px){
    .productcont{
        display: grid;
        grid-template-columns: 1fr ;
        margin-left: 8vh;
    }
    .product{
        width: 60vw;
    }
    .dig{
        margin-top: 67vh;
    }
}
    @media (max-width:450px){

        html{
            font-size: 70%;
        }
        .dig{
    padding: 2rem;
    width: 9vw;
    height: 33vh;
        }
        .adj{
            display: none;
        }
    
    }
    @media all and (max-width:417px){
    
    }
}
/* End of Media Queries */

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }



