@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
*, ::before, ::after { box-sizing: border-box; }
body{
  font-family:'Quicksand', sans-serif;
  text-align:center;
  line-height:1.5em;
/*   background:#E0E4CC; */
 background: #69d2e7;
background: -moz-linear-gradient(-45deg, #69d2e7 0%, #a7dbd8 25%, #e0e4cc 46%, #e0e4cc 54%, #f38630 75%, #fa6900 100%);
background: -webkit-linear-gradient(-45deg, #69d2e7 0%,#a7dbd8 25%,#e0e4cc 46%,#e0e4cc 54%,#f38630 75%,#fa6900 100%);
background: linear-gradient(135deg, #69d2e7 0%,#a7dbd8 25%,#e0e4cc 46%,#e0e4cc 54%,#f38630 75%,#fa6900 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69d2e7', endColorstr='#fa6900',GradientType=1 );
}
hr {
  border:none;
  background:#E0E4CC;
  height:1px;
/*   width:60%;
  display:block;
  margin-left:0; */
}
.promo-bar-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 10px;
  flex-wrap: wrap;
}

#collapsed-menu {
display: none;
}
#promo-bar {
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  justify-content: center;
  top: 0;
  max-height: 75px;
  width: 100%;
  padding: 5px 150px 5px 150px;
}

#promo-bar h3 {
  font-size: 16px;
  padding: 5px;
}

#promo-bar p {
  font-size: 11px;
  padding: 2px;
}

#promo-bar a {
  color: #fff;
}

#promo-bar a:hover {
  opacity: .8;
  color: #fff;
}


@media only screen and (max-width: 990px) {
li {
  list-style: none;
}

.user-link {
  font-size: 11px;
  display: inline;
  float: left;
  margin: 10px 7px;
  padding: auto;
  text-align: center;
  flex-wrap: wrap;
}
.desktop-link {
  display: none;
}
.collapsed-user-menu {
  background: #d3d3d3;
  height: 70px;
  width: 200%;
  margin-left: -50px;
}
#promo-bar {
  display:none;
}
#collapsed-menu {
  display: block;
}
#menu-logo {
  width: 50%;
  margin-left: -20px;
}
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  margin: 1em auto; 
  background:#FFF; 
  padding:30px;
  border-radius:5vh;
  height: 100%;
  margin-top: 10vh;
  width: 100%;
}
.productcont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 1em;

}
.product {
  padding:1em; 
  border:1px solid #E0E4CC; 
  margin-right:1em; 
  border-radius:5px;
  width: 20vw;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.cart-container {
  border:1px solid #E0E4CC;
  border-radius:5000rem;
  margin-top:1em;
  padding:133em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
}
button, input[type="submit"] { 
    border:1px solid #FA6900; 
    color:#fff; 
    background: #F38630; 
    padding:0.6em 1em;
    font-size:1em; 
    line-height:1; 
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #A7DBD8;
    border-color:#69D2E7;
    color:#000;
    cursor: pointer;
}
table {
  margin-bottom:1em;
  border-collapse:collapse;
}
table td, table th {
  text-align:left;
  padding:0.25em 1em;
  border-bottom:1px solid #E0E4CC;
}
#carttotals {
  margin-right:0;
  margin-left:auto;
}
.cart-buttons {
  width:auto;
  margin-right:0;
  margin-left:auto;
  display:flex;
  justify-content:flex-end;
  padding:1em 0;
}
#emptycart {
  margin-right:1em;
}
table td:nth-last-child(1) {
  text-align:right;
}
.message {
  border-width: 1px 0px;
  border-style:solid;
  border-color:#A7DBD8;
  color:#679996;
  padding:0.5em 0;
  margin:1em 0;
}
.close-modal{
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}
.blur{
    overflow:hidden;
    -webkit-filter: blur(10px);
    -moz-filter: blur(6px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    -webkit-transform: scale(1, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
@media all and (max-width:833px){
    .productcont{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 8vh;
    }
    .product{
        width: 23vw;
    }

}
@media all and (max-width:640px){
    .productcont{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-left: 8vh;
    }
    .product{
        width: 30vw;
    }

}
@media all and (max-width:522px){
    .productcont{
        display: grid;
        grid-template-columns: 1fr ;
        margin-left: 8vh;
    }
    .product{
        width: 60vw;
    }

}